@import '../../../scss/index.scss';

.description-form{
    margin: 20px !important;

    textarea {
        margin-bottom: 20px !important;        
        &.error {
            border: 1px solid $danger !important;
        }
    }
}

.btn-submit{
    margin: 5px !important;
}
